#bar {
	flex-flow: row;
	align-items: center;
	/*box-shadow: 0 5px 5px black;*/
}
h1 {
	flex: 1 auto;
	color: white;
	text-align: center;
}
#search_zone {
	display: flex;
	align-items: stretch;
}
#button_search {
	background: url(../image/search-solid.svg) no-repeat center;
	border: 2px solid #333333;
	border-radius: 5px 5px 5px 5px;
}