h1 {
	color: white;
	flex-grow: 1;
	text-align: center;
}
#bar {
	align-items: baseline;
	flex-flow: row;
	box-shadow: 0 5px 5px black;
	z-index: 1;
}
#search_bar{
	flex-flow: row;
}
#button_search {
	align-items: flex-end;
	background: url(../image/search-solid.svg) no-repeat center;
	border: 2px solid var(--border-color);
	border-radius: 5px 5px 5px 5px;
}