#bar {
	flex-flow: row;
	align-items: center;
}
h1 {
	flex: 1 auto;
	color: white;
	text-align: center;
}
#search_zone {
	display: flex;
	height: 35%;
}
#button_search {
	background: url(../image/search-solid.svg) no-repeat center;
	border: 2px solid var(--border-color);
	border-radius: 5px 5px 5px 5px;
}
