@import "bar.css";
@import "input.css";
@import "message.css";
/*Global part*/
button, input {
	padding: 5px 5px 5px 5px;
}
input {
	flex: 1 auto;
	background-color: #707070;
	border: 2px solid #333333;
	border-radius: 4px 4px 0 0;
}
button {
	height: 30px;
	width: 30px;
	flex: 0 auto;
	color: black;
}
#chatbox, #chat, #input, #bar {
	display: flex;
}
/*Chatbox part*/
#chatbox, #chat {
	flex: 1 auto;
}
#chatbox {
	margin: 1% 1% 1% 0;
	order: 1;
	border-radius: 15px 15px 5px 5px;
}
#chat {
	flex-direction: column;
	overflow: auto;
	padding-top: 20px;
}
#chat > :first-child {
	margin-top: auto !important;
}
/*Input bar part*/
#input, #bar {
	margin: auto 0 0;
	z-index: 1;
}
/*edit after new palet and add to id class*/
/*.scrollGradient {
	background:
			linear-gradient(black 33%, rgba(26,163,201, 0)),
			linear-gradient(rgba(26,163,201, 0), black 66%) 0 100%,
			radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
			radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-attachment: local, local, scroll, scroll;
	background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
}*/