@import "bar.css";
@import "input.css";
@import "message.css";
/*Chatbox part*/
#chatbox, #chat { flex: 1 auto; }
#chatbox {
	order: 1;
	border-radius: 15px 15px 5px 5px;
}
#chat {
	flex-direction: column;
	overflow: auto;
	padding-top: 20px;
}
#chat > :first-child { margin-top: auto !important; }
/*Input bar part*/
#input, #bar {
	margin-top: auto;
	margin-bottom: 0;
}