#help {
	order: 0;
	border-radius: 15px;
}
a:link, a:visited {
	 color: black;
	 background-color: #707070;
	 display: inline-block;
	 padding: 10px 20px;
	 border: 2px solid #333333;
	 text-decoration: none;
	 text-align: left;
	 border-radius: 15px;
 }
a:hover, a:active { background-color: #555555; }