#help {
	order: 0;
	border-radius: 15px;
}
a:link, a:visited {
	 color: black;
	 background-color: var(--front-ui-color);
	 display: inline-block;
	 padding: 10px 20px;
	 border: 2px solid var(--border-color);
	 text-decoration: none;
	 text-align: left;
	 border-radius: 15px;
 }
a:hover, a:active { background-color: var(--hover-buttons-color); }