#help_button{
	background: url(../image/question-circle-regular.svg) no-repeat center;
	border: 2px solid #333333;
	border-radius: 5px 5px 0 5px;
}
#send_button{
	background: url(../image/paper-plane-regular.svg) no-repeat center;
	border: 2px solid #333333;
	border-radius: 5px 5px 5px 0;
}