@import "help.css";
@import "chatbox.css";
@import "mobile.css";

/*Globals colors*/
:root{
	--background-color: #121212;
	--back-ui-color: #2B2B2B;
	--front-ui-color: #5E5E5E;
	--hover-buttons-color: #424242;
	--border-color: #1C1C1C;
}

/*Global part*/
html, body, main, #help, #chatbox, #chat, #input, #bar, #search_bar { display: flex; }
html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}
body { background-color: var(--background-color); }
main { column-gap: 0.5%; }
body, main { flex: 1 auto; }
p { margin: 0 0 0 0; }
#help, #chatbox {
	margin: 1% 0 1% 0;
	background-color: var(--back-ui-color);
	flex-direction: column;
}

/* waiting bugfix webkit in mozilla firefox */
/* Scrollbar part */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--back-ui-color);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: var(--front-ui-color);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--hover-buttons-color);
}

/* Animation part (WIP) */
.animated{
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-name: messageAnimation;
}
@keyframes messageAnimation {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.help_appear{
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: helpAppearAnimation;
}

@keyframes helpAppearAnimation {
	from {
		max-width: 0;
		visibility: visible;
		display: flex; !important;
	}
	to {
		max-width: 30%;
	}
}