
#titre {
	color: white;
	flex-grow: 1;
	text-align: center;
}

/*Global part*/
body, html {
	height: 99%;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #262626;
}
p{
	margin-top: 0;
	margin-bottom: 0;
}
#body {
	height: 100%;
	display: flex;
	column-gap: 10px;
}
#help, #chatbox {
	display: flex;
	margin-top: 1%;
	margin-bottom: 1%;
	flex: 1;
	background-color: #404040;
}
#help {
	order: 0;
	margin-left: 1%;
	max-width: 30%;
	flex-direction: column;
	border-radius: 15px;
}
#chatbox {
	order: 1;
	margin-right: 1%;
	flex-direction: column;
	border-radius: 15px 15px 5px 5px;
}
#chat {
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding-top: 20px;
}
#chat > :first-child {
	margin-top: auto !important;
}
a:link, a:visited {
	color: black;
	background-color: #707070;
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid #333333;
	text-decoration: none;
	text-align: left;
	border-radius: 15px;
}
a:hover, a:active {
	background-color: #555555;
}
#input, #bar {
	margin-top: auto;
	margin-bottom: 0;
	display: flex;
}

#bar {
	align-items: baseline;
	flex-flow: row;
	box-shadow: 0 5px 5px black;
}

/*Input bar part*/
input{
	flex: 1;
	background-color: #707070;
	border: 2px solid #333333;
	outline: none;
	border-radius: 4px 4px 0 0;
	font-size: 100%;
}
button, input{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#input {
	display: flex;
	margin-top: auto;
	margin-bottom: 0;
}
#help_button{
	background: url(../image/question-circle-regular.svg) no-repeat center;
	width: 40px;
	color: black;
	border: 2px solid #333333;
	border-radius: 5px 5px 0 5px;
}
#send_button{
	background: url(../image/paper-plane-regular.svg) no-repeat center;
	width: 40px;
	color: black;
	border: 2px solid #333333;
	border-radius: 5px 5px 5px 0;
}

#button_search {
	align-items: end;
	flex-basis: 0;
}

/*Message part*/
.message {
	order: 1;
	padding: 5px;
	border-radius: 10px;
	margin: -7px 7px 7px;
	max-width: 400px;
	word-wrap: break-word;
}
.user {
	align-self: flex-end;
	text-align: right;
	background-color: #0056F5;
}
.bot {
	align-self: flex-start;
	text-align: left;
	background-color: #707070;
}
.message_hour{
	margin-bottom: -8px;
	font-size: 92%;
}
.message_content{
	margin-top: -8px;
}
/* waiting bugfix webkit in mozilla firefox */
/* Scrollbar part */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #404040;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: #707070;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555555;
}

/* Animation part (WIP) */
.animated{
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-name: messageAnimation;
}
@keyframes messageAnimation {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}