body,html {
	background-color: rgb(43, 45, 46);
	height: 95%;
	padding: 0;
	margin:0;
}

input {
	flex: 1;
}

#titre {
	color: white;
}

#body {
	height: 100%;
	column-gap: 10px;
	display: flex;
	padding: 0;
	margin:0;
}

#help,#chatbox {
	display: flex;
	margin-bottom: 4%;
	flex: 1;
	background-color: rgb(119, 136, 153);
}

#help {
	margin-left: 5%;
	max-width: 30%;
	flex-direction: column;
}

#chatbox {
	margin-right: 5%;
	flex-flow: column;
}

#chat {
	display: flex;
	margin-top: auto;
	margin-bottom: 0;
	flex-flow: column wrap;
}


#input, #search {
	margin-top: auto;
	margin-bottom: 0;
	display: flex;
}

.user {
	align-self: flex-end;
	background-color: rgb(51, 51, 204);
}

.bot {
	align-self: flex-start;
	background-color: rgb(204, 204, 204);
}

a:link, a:visited {
	color: white;
	background-color: #1ebba3;
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid #099983;
	text-decoration: none;
	text-align: center;
}
a:hover, a:active {
	background-color: #9c6ae1;
	border-color: #7443b6;
}